@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    z-index: 12;
    width: 360px;
    padding: 15px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    box-shadow: 0 20px 50px rgba(86, 71, 71, 0.15);
    border-top: 1px solid rgba(224, 206, 206, 0.29);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ffffff , #fdfcfe , #ffffff);    
}
.head {
    background: linear-gradient(#797070 , #d6d1db , #797070);
    border-radius: 20px;
    box-shadow: 0 20px 50px white;
    border-top: 2px solid rgb(98, 86, 86);
    border-bottom: 2px solid #af9c9c71;
    margin-bottom: 30px;
}
h1,h2,h3{
    text-align: center;
}
.list{
   z-index: 12;
   width: 100%;
   margin: auto;
   padding: 10px;
   border-radius: 14px;
   background: rgba(255, 255, 255, 0.1);
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.267);
}
.namapegawai{
    text-align: center;
    margin-bottom: 20px;
    margin-left: 13px;
    border-radius: 20px;
    border-color: aliceblue;
}
.jamkerja{
    text-align: center;
    margin-bottom: 20px;
    margin-left: 56px;
    border-radius: 20px;
    border-color: aliceblue;
}
.upah{
    text-align: center;
    padding-left: 2px;
    margin-bottom: 5px;
    margin-left: 21px;
    border-radius: 20px;
    border-color: aliceblue;
}
.anak{
    text-align: center;
    padding-left: 2px;
    margin-bottom: 5px;
    margin-left: 95px;
    border-radius: 20px;
    border-color: aliceblue;
}
.gaji{
    text-align: center;
    padding-left: 2px;
    margin-bottom: 5px;
    margin-left: 104px;
    border-radius: 20px;
    border-color: aliceblue;
}
.tunjangan{
    text-align: center;
    padding-left: 2px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 20px;
    border-color: aliceblue;
}
.totalgaji{
    text-align: center;
    padding-left: 2px;
    margin-bottom: 5px;
    margin-left: 60px;
    border-radius: 20px;
    border-color: aliceblue;
}

.proses {
    margin-left: 100px;
    padding-left: 4px;
    padding-right: 4px;
    background: linear-gradient(#ffffff, #ecdede);
    border-radius: 10px;
    border-top: 1px solid rgba(255, 248, 248, 0.5);
    border-left: 1px solid rgb(254, 247, 247);
}
.reset {
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 4px;
    background: linear-gradient(#e9e3e3, #000000ed);
    border-radius: 10px;
    border-top: 1px solid rgba(251, 251, 251, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}